:root{
  color-scheme: light dark;
  font-family: Noto Sans;
}
@font-face {
    font-family: Noto Sans;
    src: url(../fonts/NotoSans-Regular.ttf);
  }
@font-face {
  font-family: Noto Sans Bold;
  src: url(/fonts/NotoSans-Bold.ttf);
}

@media (prefers-color-scheme: light){
  body{
    background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  }
}
@media (prefers-color-scheme: dark){
  #logo{
    content: url("../public/assets/logo-for-dark.svg");
    filter: brightness(2.5);
  }
  .header{
    background-color: hsl(226, 25%, 17%);
  }
  body {
    background: fixed linear-gradient(180deg, #040918 0%, #091540 100%);
  }
}

.header{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  padding: 10px;
  border-radius: 10px;
}
.header-wrap{
  display: flex;
  justify-content: center;
}
#logo{
  display: flex;
  justify-content: flex-start;
}
.change-theme-wrap{
  display: flex;
  justify-content: center;
  padding: 7px;
  width: 10%;
  border-radius: 7px;
  background: hsl(225, 23%, 24%);
}
.list-title{
  text-align: center;
  font-family: Noto Sans Bold;
}
.sort-btns{
  display: flex;
  flex-direction: flex-row;
  justify-content: center;
  gap: 10px;
}
.sort-btns label{
  padding: 10px 20px;
  border-radius: 24px;
  background-color: hsl(226, 25%, 17%);
  border: solid 1px hsl(225, 23%, 24%);
  font-size: 20px;
  line-height: 1.4;
  font-weight: 500;
}
.hidden {
  position: absolute;
  width: 100px;
  height: 10%;
  /*margin: 15px;*/
  margin-top: -5px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(1 0 0 0);
  opacity: 0.0;
  white-space: nowrap;
}
input[type=radio]:checked + .sort-btn {
  background-color: #c7231a;
  color: #fbfdfe;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 500;
  box-shadow: unset;
  border: unset;
}
.sort-btn-wrap{
  display: flex;
  justify-content: center;
}
main{
  margin-top: 16px;
  display: grid;
}
.card{
  background: hsl(226, 25%, 17%);
  border-radius: 16px;
  padding: 16px;
  border: solid 1px hsl(226, 11%, 37%);
  margin-top: 8px;
}
.logo-title{
  display: flex;
  flex-direction: row;
}
.title-desc{
  margin-left: 10px;
}
.title-desc h1{
  line-height: 0.5;
  font-size: 1rem;
  font-family: Noto Sans Bold;
}
.title-desc p {
  margin: 0;
  color: hsl(0, 0%, 78%);
}
.remove-off-on button{
  background: hsl(226, 25%, 17%);
  border: solid 1px hsl(226, 11%, 37%);
  border-radius: 32px;
  padding: 10px;
  font-family: Noto Sans;
  font-weight: 700;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: hsl(3, 71%, 56%);
}

input:checked + .slider:before {
  transform: translateX(26px);
}
.remove-off-on{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}